# Default Prometheus configuration for Rocket Pool

global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  scrape_timeout:      12s # Timeout must be shorter than the interval
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{or .Metrics.Prometheus.Port.Value "9091"}}']

  - job_name: 'node'
    static_configs:
      # exporter is on the host network so it can get access to the actual machine's network info
      # We have to use 'hosts.docker.internal' to refer to it due to this configuration
      - targets: ['host.docker.internal:{{or .Metrics.ExporterMetricsPort.Value "9103"}}']

  - job_name: '{{if (eq .GetSelectedExecutionClient "geth")}}geth{{else}}{{.ExecutionClientContainerName}}{{end}}'
    static_configs:
      - targets: ['{{.GetExecutionHostname}}:{{or .Metrics.EcMetricsPort.Value "9105"}}']
    {{- if (eq .GetSelectedExecutionClient "geth")}}
    metrics_path: /debug/metrics/prometheus
    {{- end}}

  - job_name: '{{.BeaconNodeContainerName}}'
    static_configs:
      - targets: ['{{.GetBeaconHostname}}:{{or .Metrics.BnMetricsPort.Value "9100"}}']

  - job_name: '{{.ValidatorClientContainerName}}'
    static_configs:
      - targets: ['{{.ValidatorClientContainerName}}:{{or .ValidatorClient.VcCommon.MetricsPort.Value "9101"}}']

  - job_name: 'rocketpool'
    scrape_interval: 5m
    scrape_timeout: 5m
    static_configs:
      - targets: ['{{.DaemonContainerName}}:{{or .Metrics.DaemonMetricsPort.Value "9102"}}']

  - job_name: 'watchtower'
    scrape_interval: 5m
    scrape_timeout: 5m
    static_configs:
      - targets: ['{{.WatchtowerContainerName}}:{{or .Metrics.WatchtowerMetricsPort.Value "9104"}}']

  - job_name: 'custom_jobs' # Mandatory field, but will be ignored.
    file_sd_configs:
      - files:
        - /extra-scrape-jobs/*.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:{{or .Alertmanager.Port.Value "9093"}}

rule_files:
  - /alerting/rules/*.yml