[Unit]
Description=Rocket Pool beacon daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/rocketpool service beacon run
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
