.DS_Store
.idea
/.vscode
.vscode-ctags
*.swp

# Packaging
build/
*.build
*.dsc
*.tar.gz
*debhelper*
install/packages/debian/rocketpool
install/packages/debian/debian/rocketpool*
install/packages/debian/_build/

# Binaries
/rocketpool-cli/rocketpool-cli
/rocketpool-daemon/rocketpool-daemon
