[Unit]
Description=Checks for system and Rocket Pool updates periodically
Wants=rp-update-tracker.timer

[Service]
Type=oneshot
ExecStart=/usr/share/rp-dnf-check.sh

[Install]
WantedBy=multi-user.target